In [1]:
print("Twinkle, twinkle, little star, \n\tHow I wonder what you are! \n\t\tUp above the world so high, \n\t\tLike a diamond in the sky. \nTwinkle, twinkle, little star, \n\tHow I wonder what you are!")

Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

In [2]:
import sys
print("Python version")
print (sys.version)

Python version
3.8.8 (default, Apr 13 2021, 15:08:03) [MSC v.1916 64 bit (AMD64)]

In [3]:
import datetime
now = datetime.datetime.now()
print ("Current date and time : ")
print (now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-10-24 15:07:27

In [4]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("The area of the circle with radius " + str(r) + " is: " + str(pi * r**2))

Input the radius of the circle : 3
The area of the circle with radius 3.0 is: 28.274333882308138

In [5]:
fname = input("Input your First Name : ")
lname = input("Input your Last Name : ")
print ("Hello  " + lname + " " + fname)

Input your First Name : Sumika
Input your Last Name : Shah
Hello  Shah Sumika

In [6]:
a = int(input("enter first number: "))
b = int(input("enter second number: "))
 
sum = a + b
 
print("sum:", sum)

enter first number: 22
enter second number: 33
sum: 55

In [7]:
print("Enter Marks Obtained in 5 Subjects: ")
sub1=int(input("Enter marks of the first subject: "))
sub2=int(input("Enter marks of the second subject: "))
sub3=int(input("Enter marks of the third subject: "))
sub4=int(input("Enter marks of the fourth subject: "))
sub5=int(input("Enter marks of the fifth subject: "))
tot = sub1+sub2+sub3+sub4+sub5
avg = tot/5

if avg>=91 and avg<=100:
    print("Your Grade is A+")
elif avg>=81 and avg<91:
    print("Your Grade is A")
elif avg>=71 and avg<81:
    print("Your Grade is B")
elif avg>=61 and avg<71:
    print("Your Grade is C")
elif avg>=51 and avg<61:
    print("Your Grade is D")
elif avg>=0 and avg<51:
    print("Your Grade is F")
else:
    print("Invalid Input!")

Enter Marks Obtained in 5 Subjects:
Enter marks of the first subject: 90
Enter marks of the second subject: 85
Enter marks of the third subject: 74
Enter marks of the fourth subject: 49
Enter marks of the fifth subject: 66
Your Grade is B

In [9]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")

Enter a number: 45
This is an odd number.

In [10]:
list1 = ['aslam', 'python', 2021];
list2 = [1, 2, 3, 4, 5 ];
list3 = ["A", "B", "C", "D"];

In [11]:
ListName = ["python", "aslam", 1, 4, 3]
print ("Number of items in the list = ", len(ListName))

Number of items in the list =  5

In [14]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([3, 2, 6, 4]))

6

In [15]:
def elements_lessthan_five(l): 
    l1=[] 
    for i in l: 
        if i<5: 
            l1.append(i) 
             
    return(l1) 
     
print(elements_lessthan_five([1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]))

[1, 1, 2, 3]